@import "tailwindcss";
body,
html,
:root,
.app{
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  @apply text-sm;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
